<%- include('partials/header') %>
<h1>Welcome to your profile <%= userInfo.username %>!</h1>
<input type="text" id="register_firstname" name="firstname" placeholder="<%= userInfo.firstname %>" readonly><br>
<input type="text" id="register_lastname" name="lastname" placeholder="<%= userInfo.lastname %>" readonly><br>
<input type="email" id="register_email" name="email" placeholder="<%= userInfo.email %>" readonly><br>
<input type="text" id="register_street" name="street" placeholder="<%= userInfo.street %>" readonly><br>
<input type="text" id="register_city" name="city" placeholder="<%= userInfo.city %>" readonly><br>
<input type="text" id="register_state" name="state" placeholder="<%= userInfo.state %>" readonly><br>
<input type="text" id="register_zip" name="zipcode" placeholder="<%= userInfo.zip %>" readonly><br>
<input type="text" id="register_country" name="country" placeholder="<%= userInfo.country %>" readonly><br>
<%- include('partials/footer') %>