<%- include('partials/header') %>
<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <% if(user) { %>
            <li role="presentation"><a href="/">Find churches</a></li>
            <li role="presentation" class="active"><a href="/users">Profile</a></li>
            <li role="presentation"><a href="/reviews">Reviews</a></li>
            <li role="presentation"><a href="/auth/logout">Logout</a></li>
            <% } else { %>
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation" class="active"><a href="/auth/register">Register</a></li>
            <li role="presentation"><a href="/auth/login">Login</a></li>
            <% } %>
          </ul>
        </nav>
        <h3 class="text-muted">Good News</h3>
        <small id="slogan" class="text-muted">The gospel of good news is a person: Jesus of Nazareth.</small>
      </div>
      <div id="inside">
        <div id="center">
        <p><%- messages('message', locals) %></p>
<h2>Welcome to your profile <%= user.username %>!</h2>
<p>Below you will find a summary of your account information along with churches you saved to your profile.</p>
<p class="info">Text messages with churches information will be sent to <strong><%= user.phonenumber %></strong></p>
<br>
<p>
<% if(data.length != 0) { %>
        <h3>Saved Churches</h3>
    <% data.forEach(function(d) { %>
        
        <ul id="savedChurches">
            <li class="thisChurchIsSaved"><span class="churchName"><strong><%= d.name %></strong></span><br><span class="churchAddress"><%= d.address %></span><p class="ce" id="<%= d.id %>" contenteditable="true">Edit this text to leave a review, then double click your review to submit it.</p><% if(d.review){ %><small class="review_text"><em>"<%= d.review %>"</em></small><br><% } %><div class="review" id="<%= d.id %>">SUBMIT REVIEW</div> <a href="/profile/sms/<%= d.id %>"><span class="sms">SEND SMS</span></a> <a href="/profile/delete/<%= d.id %>"><span class="delete">DELETE FROM PROFILE</span></a></li>
        </ul>
    <% }) %>

<% } else { %>
    <p>Save a church to your profile, to leave a review!</p>
<% } %>
</p>
      </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="/javascripts/saved.js"></script>
<%- include('partials/footer') %>